*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    color: white;
    background-color: #b9b4c0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: 'Oswald', sans-serif;
    padding: 100px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px 10%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*AJUSTAR Y CENTRAR LA LISTA DE MENU*/

.nav-menu {
    display: flex;
    align-items: center;
    margin-right: 250px;
}

/*MODIFICAR LOGO*/

.nav-logo {
    width: 70px;
}

/* QUITAR PUNTOS DE LAS LISTA*/

.nav-menu ul {
    list-style: none;
}

.header .nav-menu ul li { 
    float: left;
    position: relative;
    margin-right: 100px;

}

.header .nav-menu ul li a { 
    font-size: 25px;
    color:white;
    text-decoration: none;
    padding: 30px;
    display: block;
    transition: all .2s ease;
}

.header .nav-menu ul li a:hover {
    background-color: #55db79;
}

.header .nav-menu ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgb(1, 1, 1, 0.7);
    display: none;
}

/*CAMBIAR TAMAÑO LETRA DE SUBMENU*/

.header .nav-menu ul li ul li a {
    font-size: 25px;
}

.header .nav-menu ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;
}

.header .nav-menu ul li ul li {
    width: 100%;
}

.header .nav-menu ul li:hover > ul {
    display: initial;
}

#menu,
.header label {
    display: none;
    cursor: pointer;
}

.menu-icono {
    width: 45px;
    height: 35px;
    background-color: white;
}

@media (max-width:950px){
    .header label   {
        display: initial;
    }
    .header {
        padding: 20px 10%;
    }

    .header .nav-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgb(1, 1, 1, 0.7);
        display: none;
    }

    .header .nav-menu ul li {
        width: 100%;
    }

    .header .nav-menu ul li a {
        padding: 8px 30px 8px 10%;       
    }

    .header .nav-menu ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .nav-menu ul li ul li {
        background-color: rgb(1, 1, 1, 0.7);
    }

    .header .nav-menu ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    #menu:checked ~ .nav-menu {
        display: block;
    }


}

/*estilo al carrito de compra*/

.icon-cart {
    width: 40px;
    height: 40px;
    stroke: #fff;
    cursor: pointer;
}


.container-icon {
    position: relative;
    color:#000;
}

.count-products {
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos {
    font-size: 12px;
}

.container-cart-products {
    position: absolute;
    top: 50px;  
    right: 0;
    background-color: #fff;
    width: 300px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.cart-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
}

.info-cart-product {
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito {
    font-size: 20px;
}

.precio-producto-carrito {
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito {
    font-weight: 400;
    font-size: 20px;
}

.icon-close {
    width: 25px;
    height: 25px;
}

.icon-close:hover {
    stroke: #55db79;
    cursor: pointer;
}

.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3 {
    font-size: 20px;
    font-weight: 700;
}

.total-pagar {
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart {
    display: none;
}


/* SHOCASE */

.showcase {
    width: 100%;
    height: 650px;
    background: url('./img//841e6ab5-ce40-41a6-ad60-21dc41851f73.jpeg') no-repeat center center/cover;
    padding-bottom: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;

}

.btn:hover {
    opacity: .7;
}

.showcase h2,
.showcase p {
    margin-bottom: 10px;
}

/* CONTAINER ITEMS */

.container-items img {
    max-width: 100%;
    height: 450px;
}


.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    border-radius: 10px;
}

.item:hover {
    box-shadow: 0 10px 20px rgb(0,0,0,0.20);
}

.item img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.precio {
    font-size: 20px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background: none;
    background-color: #000;
    color: white;
    font-size: 18px;
    padding: 15px 10px;
    cursor: pointer;
}

.info-product button:hover {
    background-color: #69d987;
}



